<h1>Net Worth</h1>
<%= line_chart ReportDatum.where(user_id: current_user.id).group(:date).sum(:net_worth), 
	prefix: current_user.home_asset_type.currency_symbol, 
	points: false,
	library: { scales: { yAxes: [{ gridLines: { display: true }, ticks: { maxTicksLimit: 10 } }]}} %>
<h1>Spending and Saving</h1>
<%= line_chart [{ name: "Annual Spending", 
		data: ReportDatum.where(user_id: current_user.id).group(:date).sum(:annual_post_fi_spending) },
				{ name: "Annual Saving", 
		data: ReportDatum.where(user_id: current_user.id).group(:date).sum(:annual_savings) }],
		prefix: current_user.home_asset_type.currency_symbol, 
		points: false, 
		min: 0, 
		max: 200000 %>
<h1>FI Date</h1>
<%= line_chart @fi_date_data, 
	points: false,
	min: 0,
	library: { 
		series: { 
			0 => {targetAxisIndex: 0}
		}
		} %>
